body {
  font-family: "Raleway", sans-serif;
  color: #11111b;
  margin: 0;
}

header {
  position: sticky;
  background-color: #fff;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
 
}

.header__logo {
  height: 30px;
}

a {
  text-decoration: none;
  color: #213053;
}

header a {
  font-size: 15px;
  font-weight: 600;
  margin-right: 25px;
}

button {
  font-family: "Raleway", sans—serif;
  font-size: 15px;
  color: #fff;
  background-color: #23a030;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
  padding: 15px;
}

.icon {
display: inline-block;
color: #eaecea;
opacity: 0.9;
padding-left: 10px;
font-size: larger;
}

.about_sun {
  width: 100px;
  height: 100px;
}

.about_img {
  width: 500px;
}
.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 115px;
  padding-bottom: 115px;
  background: url(img/back.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.about h1 {
  font-size: 70px;
  line-height: 76px;
}
.about p {
  font-size: 18px;
  line-height: 30px;
  opacity: 0.8;
}
.about button {
  font-size: 18px;
  border-radius: 20px;
  padding: 20px 25px;
  margin: 20px;
}
.about__info {
  max-width: 550px;
}

.form_container {
  width: 550 px;
}

.form {
  display: flex;
  justify-content: center;
  background-color: #1d263a;
  color: #fff;
  padding-top: 115px;
  padding-bottom: 115px;
  text-align: center;
}

.form h3 {
  font-size: 48px;
}

.form p {
  font-size: 18px;
  opacity: 0.65;
}

.form__group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 15px;
}
.form label {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 15px;
}

.form input {
  font-size: 18px;
  color: #213053;
  height: 60px;
  padding: 0px 20px 0px 20px;
  border-radius: 20px;
  border: none;
}

.form select {
  font-size: 18px;
  color: #213053;
  height: 60px;
  padding: 0px 0px 20px 20px;
  border-radius: 20px;
  border: none;
  appearance: none;
  outline: none;
}

.form_button button {
  width: 100%;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 600;
}

input {
  outline: none;
}

button:hover {
  background-color: #f6980c;
  box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
  transition: background-color 0.3s ease-in;
}

footer {
  padding: 90px 20px;
  font-size: 16px;
  font-weight: 600;
 
}

.footer__container {
  display: flex;
  justify-content: space-around;
}

.footer__copyright p {
margin-top: 40px;
text-align: center;
opacity: 0.7;
font-size: 16px;
padding-top: 50px;

}

.footer__group {
  padding-right: 80px;
}

.footer__group h3 {
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 30px;
}

.footer__links{
  display: flex;
  flex-direction: column;
}

.footer__links a{
margin-bottom: 15px;

}

@keyframes rotation {
  0% {
    transform: rotate(360deg);
  }
}

.about_sun {
  width: 100px;
  height: 100px;
  animation: rotation 10s infinite linear;
  position: absolute;
}

.about_sun:hover{
animation-play-state: paused;

}
.about_sun:active{
  transform: scale(2);
}

@media (max-width: 1024px) {
  .form,
  .about {
    padding: 50px 20px;
  }

  .about {
    flex-direction: column;
  }

  .about_images {
    padding-top: 50px;
  }

  .about h1,
  .form h1 {
    font-size: 36px;
    line-height: 40px;
  }

  header {
    padding: 10px;
  }

  .header__logo {
    height: 20px;
  }

  header a {
    margin-right: 10px;
  }

  .about_img {
    width: 280px;
  }

  .about_sun-image {
    width: 75px;
    height: 75px;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__container .footer__group {
    margin-right: 0;
  }
}

@media (max-width: 720px) {
  .form,
  .about {
    padding: 50px 10px;
  }
}

.features {
  background-color: #fff;
  padding:115px 60px 115px 60px;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card {
  font-size: 18px;
background-color: #fff;
border: 1px solid;
border-color: #D9E4E6;
border-radius: 5px;
padding: 35px 40px 25px 40px;
}

.card p {
  font-size: 16px;
  line-height: 22px;
  opacity: 0.8;
}

.icon_card{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
background-color: #eaeff9;
font-size: 32px;
font-weight:  700;
}

.icon_card h3{
  color: brown;
}

.features__border{
margin-bottom: 50px;
margin-top: 50px;
border: 1px solid;
border-color:#E6EAF4;
}

.features__feedback{
  display: flex;
  align-content: space-between;
}

.features__feedback-left{
margin-right: 10px;
}
.features__feedback-left h2{
font-size:48px;
}
.features__feedback-left p{
  font-size: 18px;
  opacity: 0.7;
  height: 26px;
}

.features__feedback-right{
  display: flex;
  justify-content: center;
  align-items:stretch;
}
.features__box{
  padding: 30px 40px  25px 40px;
  border-radius: 25px;
}

.features__savings-box{
  background-color:  #dc5e26;
  box-shadow: 0px 6px 0px rgb(221 95 38 / 20%);
  margin-right: 30px;
}

.features__rate-box{
  background-color:#1D263A;
  box-shadow: 0px 6px 0px rgb(29 38 58 / 20%);
}
.features__box p{
color: #fff;
font-size: 18px;
}
.features__rate-box h3{
  color: #fff;
  margin-top: 0px;
  font-size: 48px;
}

.features__savings-box h3{
color: #fff;
font-size: 48px;
margin-top: 0px;
}


.promo{
  display: flex;
  justify-content: center;
 
}

.img__promo{
 
 width: 50vw;
 flex-shrink: 0;
  background-image: url("promo_img.jpg");
  background-size: cover
  
}
.right__promo{
  background-color: #dd5f26;
  padding: 160px 60px;
}
.promo__card{
  background-color: #eaeff9;
  border-radius: 25px;
  padding: 30px 40px 30px 40px;
  
}
.promo__card p {
opacity: 0.8;
font-size: 20px;

}

.button__promo{
  display: flex;
  justify-content: center;
}
.button__promo button{
 
  font-size: 18px;
  color: #fff;
  background-color: #23a030;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
 margin-top: 20px;
 padding: 15px 30px;

}
.icon__promo{
margin-left: 5px;
font-size: 15px;
display: inline-block;
color: #eaecea;
opacity: 0.9;
padding-left: 10px;
font-size: larger;
}

.button__promo button:hover{
  background-color: #f6980c;
  box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
  transition: background-color 0.3s ease-in;
}
.dote{
  
  border-radius: 50%;
  background:#f6980c;
  display: inline-block;     
  padding: 5px;                         
   
}